# Xcode
#
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
#
.build/
Packages/
Package.resolved

# CocoaPods
#
Pods/
Podfile.lock

# Carthage
#
Carthage/Build/

# Fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Xcode Archives
#
*.xcarchive

# Playgrounds
#
timeline.xctimeline
playground.xcworkspace

# macOS Finder files
#
.DS_Store

# SwiftUI previews
#
*.preview-thumbnails

# Temporary files
#
*.swp
*.swm
*.lock
